.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
projetoEL/

# Outputs gerados
output/

# Caches
.pytest_cache/
.mypy_cache/

# IDEs
.vscode/
.idea/